@import 'normalize.css';

* {
    border: 1px grey solid;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: rgb(104,34,31);
    height: 100px;
}

nav {
    width: 960px;
    margin: 0px auto;
}

header img {
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

header ul li {
    display: inline-block;
    margin-top: 40px;
    margin-right: 75px;
}

main ul li:last-child {
    margin-right: 0px;
}

ol li {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

img {
    width: 100px;
}

p {
    margin-left: 75%;
}

ol {
    margin-left: 20px;
}

button {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(104,34,31);
    color: white;
}

button:hover {
    background-color: hotpink;
}

#cart-display {
    overflow: scroll;
    background: lightgray;
} 

legend {
    padding-top: 10px;
}

#billing {
    background: rgb(116,45,41);
    color: hotpink;
}

